<h2>An Error has Occurred.</h2>
<h3>Title: @ViewData["Title"].</h3>
<hr />
<p>Summary: A short summary of the error like this should follow the title.</p>

<h3>Error Details></h3>
<hr />
@if (string.IsNullOrWhiteSpace(ViewData["Message"].ToString()))
{
    <text>This area would be used for lengthier and more detailed informationm about the error, if any such info is available.</text>
}}
@ViewData["Message"];