@{
    ViewData["Title"] = " Logins";
}

<h2>External Login Overview</h2>

<p>An external login is where you use e.g. your Twitter, Faecbook, or simlar, account, 
    to gain access to this web site without logging in here. 
    
