@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No Head</title>
</head>
<body>
    <h1>No damned head!</h1>
</body>
</html>
